/* 
	Home page
*/


#academics {
	margin-bottom: 2em;
}

.quote 
{
	border-left: 2px solid #999999;
    padding-left: 1em;
    width: 80%;
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.15em;
    letter-spacing: 0.05em;
    font-weight: 700;
    margin-bottom: 2em;
}

.homePageHeader {
	background: url("../../images/school/billBoard.jpeg") center center;
}

.ourStoryPageHeader {
	background: url("../../images/school/billBoard.jpeg") center center;	
}

.longSentence {
	   text-align: justify;
}


/* 
	Our Story page
*/
.trusteImg {
	width: 45% !important;
    height: 50%;
    margin: 0 auto;
    border: 3px solid #999999;
    border-radius: 10px;
    max-width: 250px;
}

